@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap");

html {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  color: white;
  background-color: #4c3a51;
  font-family: "Red Hat Display", sans-serif;
}

h1 {
  text-align: center;
  font-size: 70px;
  margin-top: 120px;
}

.bolo-between-text {
  text-align: center;
  margin: 50px;
  font-size: 30px;
}

.bolo-find-more {
  text-align: center;
  margin-top: 150px;
  font-size: 25px;
}

.what-is-card {
  display: flex;
  max-width: 1200px;
  max-height: 600px;
  background-color: #774360;
  border: 2px solid #b25068;
  border-radius: 10px;
  overflow: hidden;
  margin: 0 auto;
  margin-top: 80px;
  margin-bottom: 80px;
}

.what-is-content {
  padding: 25px;
}

.what-is-content h2 {
  font-size: 35px;
  margin-top: 0px;
}

.what-is-content p {
  font-weight: 570;
  font-size: 20px;
}

.what-is-content button {
  margin-top: 20px;
  padding: 15px;
  border: none;
  background-color: #b25068;
  color: white;
  border-radius: 5px;
  font-size: 17px;
  cursor: pointer;
}

.what-is-content button:hover {
  background-color: #e7ab79;
}

.what-is-image {
  width: 700px;
  height: auto;
  object-fit: cover;
  margin-bottom: -500px;
}

.homepage-button {
  display: flex;
  justify-content: center;
  margin-bottom: 150px;
}

.homepage-button button {
  color: white;
  background-color: #b25068;
  padding: 20px 30px;
  border: none;
  border-radius: 10px;
  font-size: 18px;
  cursor: pointer;
}

.homepage-button button:hover {
  background-color: #e7ab79;
}
