@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap");

html {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-color: #4c3a51;
  font-family: "Red Hat Display", sans-serif;
}
