@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap");

html {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "Oswald", Helvetica, Arial, sans-serif;
  background-color: white;
}

.content {
  width: 1600px;
  padding: 20px;
  margin: 15px auto;
}

.title,
.recipelist {
  color: black;
  background-color: antiquewhite;
  border: 2px solid peachpuff;
  box-shadow: 5px 5px 10px lightsalmon;
  text-align: center;
}

.title {
  font-size: 40px;
  width: 400px;
  padding: 10px 25px;
  margin: 10px auto;
  margin-bottom: 45px;
  border-radius: 50px;
}
.subheaders {
  text-align: center;
  font-size: 25px;
  margin: 25px auto;
}

.paragraph {
  font-size: 20px;
  text-align: center;
  margin: 15px;
  margin-bottom: 10px;
}

.recipelist {
  width: 300px;
  border-radius: 15px;
  text-align: center;
  list-style-position: inside;
  margin: 15px auto;
  margin-top: 40px;
}

.recipes {
  font-size: 20px;
  padding: 10px;
  margin: 25px auto;
}

.images {
  width: 720px;
  margin: auto;
  margin-top: 30px;
}

.cardcontainer {
  display: flex;
  gap: 24px;
  justify-content: center;
  align-items: stretch;
  margin-top: 30px;
  margin-bottom: 30px;
}

.card {
  width: 500px;
  height: 400px;
  box-shadow: 5px 5px 10px;
  border: 2px solid black;
  border-radius: 20px;
  overflow: hidden; /* hides everything outside the card */
  background: white;
  display: flex;
  flex-direction: column;
  flex: 1;
  max-width: 525px;
}

.card-image {
  height: 33%;
  width: 100%;
  overflow: hidden; /* crops out the corners of the image */
}

.card-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center -150px;
}

.card-content {
  padding: 5px 20px;
}

.card-content h3 {
  font-size: 30px;
}

.card-content p {
  font-size: 20px;
}
