@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap");

html {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "Oswald", Helvetica, Arial, sans-serif;
  background-color: white;
}

.content {
  width: 1600px;
  padding: 20px;
  margin: 15px auto;
}

.title,
.recipelist {
  color: black;
  background-color: antiquewhite;
  border: 2px solid peachpuff;
  box-shadow: 5px 5px 10px lightsalmon;
  text-align: center;
}

.title {
  font-size: 40px;
  width: 400px;
  padding: 10px 25px;
  margin: 10px auto;
  margin-bottom: 45px;
  border-radius: 50px;
}
.subheaders {
  text-align: center;
  font-size: 25px;
  margin: 25px auto;
}

.paragraph {
  font-size: 20px;
  text-align: center;
  margin: 15px;
  margin-bottom: 10px;
}

.recipelist {
  width: 300px;
  border-radius: 15px;
  text-align: center;
  list-style-position: inside;
  margin: 15px auto;
  margin-top: 40px;
}

.recipes {
  font-size: 20px;
  padding: 10px;
  margin: 25px auto;
}

.images {
  width: 720px;
  margin: auto;
}
