@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap");

html {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "Oswald", Helvetica, Arial, sans-serif;
  background: #ff8c3b;
}

.content {
  background-color: white;
  border-radius: 35px;
  border: 5px solid #ff6e5e;
  width: 1600px;
  padding: 20px;
  margin: 15px auto;
}

.title,
.recipe-list {
  color: black;
  background-color: antiquewhite;
  border: 2px solid peachpuff;
  box-shadow: 5px 5px 10px lightsalmon;
  text-align: center;
}

.title {
  font-size: 40px;
  width: 400px;
  padding: 10px 25px;
  margin: 10px auto;
  margin-bottom: 45px;
  border-radius: 50px;
}
.subheaders {
  text-align: center;
  font-size: 25px;
  margin: 25px auto;
}

.paragraph {
  font-size: 20px;
  text-align: center;
  margin: 15px;
  margin-bottom: 10px;
}

.card-container {
  display: flex;
  gap: 24px;
  justify-content: center;
  align-items: stretch;
  margin-top: 30px;
  margin-bottom: 40px;
}

.card {
  width: 500px;
  height: 300px;
  box-shadow: 5px 5px 10px;
  border: 2px solid black;
  border-radius: 20px;
  overflow: hidden; /* hides everything outside the card */
  background: white;
  display: flex;
  flex-direction: column;
}

.card-image {
  flex: 0 0 40%;
  width: 100%;
  overflow: hidden; /* crops out the corners of the image */
}

.card-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center -150px;
}

.card-content {
  position: relative;
  top: -25px;
  padding: 5px 20px;
}

.card-content h3 {
  font-size: 30px;
}

.card-content p {
  position: relative;
  top: -15px;
  font-size: 20px;
}
